@media (max-width: 1199px){
	.navbar-brand img{
		width: 120px;
	}
	.cart-menu {
    width: auto;
}
	.banner {
    padding: 110px 0px;
}
	.product h4 {
    bottom: 30%;
    right: 50%;
    transform: translate(50%, 30%);
}
.product:hover h4{
    bottom: 32%;
}

}
@media (max-width: 991px){
	.compare-bag p a {
    text-transform: lowercase;
	}
	.social ul.nav li a {
    padding: .5rem 10px;
	}
	.kickstarter h5 {
    font-size: 16px;
}
	.feature div {
    max-width: 330px;
}
.product h4 {
    bottom: 40%;
    transform: translate(50%, 40%);
    font-size: 16px;
}
.product:hover h4{
    bottom: 42%;
}

}
@media (max-width: 767px){
	.kickstarter h5 {
    font-size: 18px;
}
.kickstarter h5 {
    font-size: 16px;
}
.feature div {
    max-width: 90%;
}
header {
    display: none;
}
.navbar-brand img {
    width: 100px;
}
.product h4 {
    bottom: 27%;
    transform: translate(50%, 27%);
}
.product:hover h4{
    bottom: 29%;
}
}
@media (max-width: 575px){
	.feature div {
    text-align: center;
}
.product h4 {
    bottom: 51%;
    transform: translate(50%, 51%);
}
.product:hover h4{
    bottom: 53%;
}
}
